### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read **SCHOOL DATA** into Pandas DataFrames

school_data = pd.read_csv(school_data_to_load)


school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Read **STUDENT DATA** into Pandas DataFrames

student_data = pd.read_csv(student_data_to_load)

student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
# Calculate the total number of schools, number of students, total budget, average math score and average reading score

total_schools = school_data['school_name'].count()
print ('Total number of Schools: ',total_schools)

total_students = student_data['student_name'].count()
print('Total number of Students: ',total_students)

total_budget = school_data['budget'].sum()
print('Total Budget: ',total_budget)

avg_math = student_data['math_score'].sum()/total_students
print('Average Math Score: ',avg_math)

avg_reading = student_data['reading_score'].sum()/total_students
print('Average Reading Score: ',avg_reading)

Total number of Schools:  15
Total number of Students:  39170
Total Budget:  24649428
Average Math Score:  78.98537145774827
Average Reading Score:  81.87784018381414

In [14]:
# Calculate the students who had a passing score in math

goodmathstudents = student_data.loc[student_data['math_score'] >= 70,['math_score']] 
goodmathstudents.head()

   math_score
0          79
4          84
5          94
6          80
8          87

In [23]:
# Calculate the total number of students who had a passing score in math and the percent of total students


goodmathcount = goodmathstudents["math_score"].count()
print(goodmathcount)
goodmathpercent = goodmathcount/total_students
print(goodmathpercent)

29370
0.749808526933878

In [24]:
# Calculate the students who had a passing score in reading

goodreadstudents = student_data.loc[student_data['reading_score'] >= 70,['reading_score']] 
goodreadstudents.head()

   reading_score
1             94
2             90
4             97
5             94
6             82

In [25]:
# Calculate the total number of students who had a passing score in reading and the percent of total students

goodreadcount = goodreadstudents["reading_score"].count()
print(goodreadcount)
goodreadpercent = goodreadcount/total_students
print(goodreadpercent)

33610
0.8580546336482001

In [57]:
# Calculate the students who had a passing score in reading and math

beststudents = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70),:]
beststudentcount = beststudents["student_name"].count()
beststudentspercent = beststudents/total_students

print(beststudentspercent)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [30]:
# District Summary

summary_df = pd.DataFrame({
    "Total Number of Schools":[total_schools],
    "Total Number of Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math],
    "Average Reading Score":[avg_reading],
    "Percent Passing Math":[goodmathpercent],
    "Percent Passing Reading":[goodreadpercent],
    "Percent Passing Math and Reading":[beststudentspercent] 
})
summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [35]:
#School summay components

schoolname = school_data['school_name']

schooltype = school_data['type']

schoolsize = school_data['size']

studentsperschool = student_data['school_name'].value_counts()

budgetperstudent = school_data['budget']/schoolsize

print(studentsperschool)
print(budgetperstudent)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64
0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [55]:
# Average Math Score
grouped_school_name = student_data.groupby(['school_name'])

#print grouped_school_name
# grouped_school_name.count().head(10)

#Average math score 
aver_math_by_school = grouped_school_name['math_score'].mean()

# print(aver_math_by_school)

# Average Reading Score
aver_read_by_school = grouped_school_name['reading_score'].mean()

# print(aver_read_by_school)


# build dataframe with calculated average score. reset the index so school can be used for merging later
df_of_averages = pd.DataFrame({"Average Math Score": aver_math_by_school,
                              "Average Reading Score": aver_read_by_school,}).reset_index()
# df_of_averages


# % Passing Math
students_math_passing = student_data.loc[student_data['math_score'] >= 70]
# print(students_math_passing)

all_students_math_passing= pd.DataFrame({"school_name": students_math_passing["school_name"],
                                       "Count_students_passing_math": 0})

students_pass_math_school = all_students_math_passing.groupby(['school_name']).count().reset_index()

# #print(students_pass_math_school)


# % Passing Reading
students_read_passing = student_data.loc[student_data['reading_score'] >= 70]
# print(students_read_passing)

all_students_read_passing= pd.DataFrame({"school_name": students_read_passing["school_name"],
                                       "Count_students_passing_read": 0})

students_pass_read_school = all_students_read_passing.groupby(['school_name']).count().reset_index()

# print(students_pass_read_school)

# #group students by school to calculate average math and reading scores per school
school_group = student_data.groupby(['school_name'])

# create 'super table' of schools_df, students passing reading, students passing math and average math scores.
# we'll pull columns from this table to build the summary.
# normally, merge works on two dataframes, but we'll use a little dot-notation magic to do it all in one statement

new_school_df = pd.merge(school_data, df_of_averages, on = 'school_name') \
.merge(students_pass_math_school, on = 'school_name') \
.merge(students_pass_read_school, on = 'school_name') 


# new_school_df
# #print(grouped_school_name.count().head(10))
# new_school_df

# #calculate percent of students passing math
percent_passing_math_school = (new_school_df['Count_students_passing_math'] / new_school_df['size']) * 100

# #calculate percentage of students passing read
percent_students_passing_reading_school = (new_school_df['Count_students_passing_read'] / \
                                      new_school_df['size']) * 100

# #calculate overall passing rate
overall_passing_school = ((percent_passing_math_school + percent_students_passing_reading_school) / 2)



# # create district_summary dataframe for display
# schools_summary_df = pd.DataFrame({'School Name': new_school_df['school'],
#                                'School Type': new_school_df['type'],
#                                'Total Students': new_school_df['size'],
#                                'Total School Budget': new_school_df['budget'],
#                                'Per Student Budget': (new_school_df['budget'] / new_school_df['size']),
#                                'Average Math Score': new_school_df['Average Math Score'],
#                                'Average Reading Score': new_school_df['Average Reading Score'],
#                                '% Passing Math': percent_passing_math_school,
#                                '% Passing Reading':percent_students_passing_reading_school,
#                                'Overall Passing Rate': overall_passing_school})

# school_summary_df = schools_summary_df[['School Name', 'School Type', 'Total Students', 'Total School Budget',
#                                  'Per Student Budget', 'Average Math Score', 'Average Reading Score',
#                                  '% Passing Math', '% Passing Reading', 'Overall Passing Rate']] \
#                  .set_index('School Name').rename_axis(None)

,School ID,school_name,type,size,budget,Average Math Score,Average Reading Score,Count_students_passing_math,Count_students_passing_read
0,0,Huang High School,District,2917,1910635,76.629414,81.182722,1916,2372
1,1,Figueroa High School,District,2949,1884411,76.711767,81.158020,1946,2381
2,2,Shelton High School,Charter,1761,1056600,83.359455,83.725724,1653,1688
3,3,Hernandez High School,District,4635,3022020,77.289752,80.934412,3094,3748
4,4,Griffin High School,Charter,1468,917500,83.351499,83.816757,1371,1426
5,5,Wilson High School,Charter,2283,1319574,83.274201,83.989488,2143,2204
6,6,Cabrera High School,Charter,1858,1081356,83.061895,83.975780,1749,1803
7,7,Bailey High School,District,4976,3124928,77.048432,81.033963,3318,4077
8,8,Holden High School,Charter,427,248087,83.803279,83.814988,395,411
9,9,Pena High School,Charter,962,585858,83.839917,84.044699,910,923
10,10,Wright High School,Charter,1800,1049400,83.682222,83.955000,1680,1739
11,11,Rodriguez High School,District,3999,2547363,76.842711,80.744686,2654,3208
12,12,Johnson High School,District,4761,3094650,77.072464,80.966394,3145,3867
13,13,Ford High School,District,2739,1763916,77.102592,80.746258,1871,2172
14,14,Thomas High School,Charter,1635,1043130,83.418349,83.848930,1525,1591

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
summary_schools2 = summary_schools.sort_values('Percent Passing Math & Reading' , ascending =False)
summary_schools2.head(5)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
summary_schools3 = summary_schools.sort_values('Percent Passing Math & Reading' , ascending =True)
summary_schools3.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
studentsgrade9 = student_data.loc[student_data['grade'] =='9th',]
studentsgrade10 = student_data.loc[student_data['grade'] =='10th',]
studentsgrade11 = student_data.loc[student_data['grade'] =='11th',]
studentsgrade12 = student_data.loc[student_data['grade'] =='12th',]

countgrade9 = studentsgrade9.groupby('school_name')['grade'].count()
countgrade10 = studentsgrade10.groupby('school_name')['grade'].count()
countgrade11 = studentsgrade11.groupby('school_name')['grade'].count()
countgrade12 = studentsgrade12.groupby('school_name')['grade'].count()

schoolgrade9M = studentsgrade9.groupby('school_name')['math_score'].sum()/countgrade9
schoolgrade10M = studentsgrade10.groupby('school_name')['math_score'].sum()/countgrade10
schoolgrade11M = studentsgrade11.groupby('school_name')['math_score'].sum()/countgrade11
schoolgrade12M = studentsgrade12.groupby('school_name')['math_score'].sum()/countgrade12

scoresummary = pd.concat([schoolgrade9M,
                           schoolgrade10M,
                           schoolgrade11M,
                           schoolgrade12M], axis=1)

scoresummary = scoresummary.rename(columns={0:'9th grade', 1:'10th grade', 2:'11th grade', 3:'12th grade'})

# del scoresummary.index.name

scoresummary

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
schoolgrade9r = studentsgrade9.groupby('school_name')['reading_score'].sum()/countgrade9
schoolgrade10r = studentsgrade10.groupby('school_name')['reading_score'].sum()/countgrade10
schoolgrade11r = studentsgrade11.groupby('school_name')['reading_score'].sum()/countgrade11
schoolgrade12r = studentsgrade12.groupby('school_name')['reading_score'].sum()/countgrade12

scoresummary2 = pd.concat([schoolgrade9r,
                           schoolgrade10r,
                           schoolgrade11r,
                           schoolgrade12r], axis=1)

scoresummary2 = scoresummary2.rename(columns={0:'9th grade', 1:'10th grade', 2:'11th grade', 3:'12th grade'})
scoresummary2

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#create a copy to save the old data frame

school_spending = summary_schools.copy()

#create bins to hold values
bins = [0, 550, 600, 650, 700]

#name the bins
view_groups = ['>$550', '$550-$600', '$600-$650', '$650-$700']

# view_groups

#Convert student budget into a float
# school_spending['Budget per Student']=school_spending['Budget per Student']\
# .replace('[\$]','',regex=True).astype('float')


# #append a new column that shows the spend ranges
school_spending['Spending Ranges Per Student'] = pd.cut(school_spending['Budget per Student'],bins, labels=view_groups)

# school_spending



# build the dataset and include the column we created above
school_spending = school_spending[['Average Math Score',
                                            'Average Reading Score',
                                            'Percent Passing Math',
                                            'Percent Passing Reading',
                                            'Percent Passing Math & Reading',
                                            'Spending Ranges Per Student']]

school_spending


# #group by Spending Range
# average_scores_by_spending_df = school_spending.groupby('Spending Ranges Per Student').mean()

# average_scores_by_spending_df

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type