### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head

<bound method NDFrame.head of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district = school_data_complete.groupby(['school_name'])
schoolcount = len(district)
totstudents = student_data["student_name"].count()
totbudget = school_data["budget"].sum()
perstubudget = totbudget/totstudents
avgmathscore = student_data["math_score"].mean()
avgreadscore = student_data["reading_score"].mean()

In [3]:
goodmathstudents = student_data.loc[student_data["math_score"] >= 70,:] 
goodmathpercent = goodmathstudents["student_name"].count()/totstudents
# goodmathpercent
goodreadingstudents = student_data.loc[student_data["reading_score"] >= 70,:]
goodreadpercent = goodreadingstudents["student_name"].count()/totstudents
# goodreadpercent
beststudents = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70),:]
beststudentspercent = beststudents["student_name"].count()/totstudents
# beststudentspercent

In [4]:
# Create a dataframe to hold the results of above

# print(schoolcount)
# print(totstudents)
# print(totbudget)
# print(perstubudget)
# print(avgmathscore)
# print(avgreadscore)
# print(goodmathpercent)
# print(goodreadpercent)
# print(beststudentspercent)


summary_df = pd.DataFrame({
    "Total Number of Schools":[schoolcount],
    "Total Number of Students":[totstudents],
    "Total Budget":[totbudget],
    "Total Budget per Student":[perstubudget],     
    "Average Math Score":[avgmathscore],
    "Average Reading Score":[avgreadscore],
    "Percent Passing Math":[goodmathpercent],
    "Percent Passing Reading":[goodreadpercent],
    "Percent Passing Math and Reading":[beststudentspercent] 
})
summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Total Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,629.293541,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
studentcount = school_data_complete.groupby("school_name")["student_name"].count()
schoolbudget = school_data_complete.groupby("school_name")["budget"].sum()
schoolbudgetper = school_data_complete.groupby("school_name")["budget"].sum()/studentcount
schoolavgmath = school_data_complete.groupby("school_name")["math_score"].sum()/studentcount
schoolavgread = school_data_complete.groupby("school_name")["reading_score"].sum()/studentcount
schoolmathpass = school_data_complete.loc[student_data['math_score']>=70, :
                                 ].groupby('school_name')['math_score'].count()/studentcount

schoolreadpass = school_data_complete.loc[student_data['reading_score']>=70, :
                                 ].groupby('school_name')['reading_score'].count()/studentcount

schoolbothpass = school_data_complete.loc[(student_data['reading_score']>=70) & (student_data['math_score']>=70), :
                                 ].groupby('school_name')['reading_score'].count()/studentcount


# Count how many students by school and create DataFrame
district_df = pd.DataFrame(district)
# district_df.columns

schools_df = pd.concat([schoolbudgetper,
                        schoolavgmath, 
                        schoolavgread, 
                        schoolmathpass,
                        schoolreadpass,
                        schoolbothpass
                       ],axis=1)


schools_df.reset_index(inplace=False)


# schools_df

summary_schools = pd.merge(school_data, schools_df, how="outer", on=["school_name"])

summary_schools.reset_index(inplace=False)

summary_schools = summary_schools.rename(columns = {'school_name' : "School Name",
                                                    'type' : "School Type",
                                                    'size' : "Student Count",
                                                    'budget' : "School Budget",
                                                    0 : 'Budget per Student',
                                                    1 : 'Average Math Score',
                                                    2 : 'Average Reading Score',
                                                    3 : 'Percent Passing Math',
                                                    4 : 'Percent Passing Reading',
                                                    5 : 'Percent Passing Math & Reading',})

# summary_schools.set_index("School Name")

summary_schools

,School ID,School Name,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
0,0,Huang High School,District,2917,1910635,1910635.0,76.629414,81.182722,0.656839,0.813164,0.535139
1,1,Figueroa High School,District,2949,1884411,1884411.0,76.711767,81.158020,0.659885,0.807392,0.532045
2,2,Shelton High School,Charter,1761,1056600,1056600.0,83.359455,83.725724,0.938671,0.958546,0.898921
3,3,Hernandez High School,District,4635,3022020,3022020.0,77.289752,80.934412,0.667530,0.808630,0.535275
4,4,Griffin High School,Charter,1468,917500,917500.0,83.351499,83.816757,0.933924,0.971390,0.905995
5,5,Wilson High School,Charter,2283,1319574,1319574.0,83.274201,83.989488,0.938677,0.965396,0.905826
6,6,Cabrera High School,Charter,1858,1081356,1081356.0,83.061895,83.975780,0.941335,0.970398,0.913348
7,7,Bailey High School,District,4976,3124928,3124928.0,77.048432,81.033963,0.666801,0.819333,0.546423
8,8,Holden High School,Charter,427,248087,248087.0,83.803279,83.814988,0.925059,0.962529,0.892272
9,9,Pena High School,Charter,962,585858,585858.0,83.839917,84.044699,0.945946,0.959459,0.905405
10,10,Wright High School,Charter,1800,1049400,1049400.0,83.682222,83.955000,0.933333,0.966111,0.903333
11,11,Rodriguez High School,District,3999,2547363,2547363.0,76.842711,80.744686,0.663666,0.802201,0.529882
12,12,Johnson High School,District,4761,3094650,3094650.0,77.072464,80.966394,0.660576,0.812224,0.535392
13,13,Ford High School,District,2739,1763916,1763916.0,77.102592,80.746258,0.683096,0.792990,0.542899
14,14,Thomas High School,Charter,1635,1043130,1043130.0,83.418349,83.848930,0.932722,0.973089,0.909480

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
summary_schools2 = summary_schools.sort_values('Percent Passing Math & Reading' , ascending =False)
summary_schools2.head(5)

,School ID,School Name,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
6,6,Cabrera High School,Charter,1858,1081356,1081356.0,83.061895,83.975780,0.941335,0.970398,0.913348
14,14,Thomas High School,Charter,1635,1043130,1043130.0,83.418349,83.848930,0.932722,0.973089,0.909480
4,4,Griffin High School,Charter,1468,917500,917500.0,83.351499,83.816757,0.933924,0.971390,0.905995
5,5,Wilson High School,Charter,2283,1319574,1319574.0,83.274201,83.989488,0.938677,0.965396,0.905826
9,9,Pena High School,Charter,962,585858,585858.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
summary_schools3 = summary_schools.sort_values('Percent Passing Math & Reading' , ascending =True)
summary_schools3.head(5)

,School ID,School Name,School Type,Student Count,School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
11,11,Rodriguez High School,District,3999,2547363,2547363.0,76.842711,80.744686,0.663666,0.802201,0.529882
1,1,Figueroa High School,District,2949,1884411,1884411.0,76.711767,81.158020,0.659885,0.807392,0.532045
0,0,Huang High School,District,2917,1910635,1910635.0,76.629414,81.182722,0.656839,0.813164,0.535139
3,3,Hernandez High School,District,4635,3022020,3022020.0,77.289752,80.934412,0.667530,0.808630,0.535275
12,12,Johnson High School,District,4761,3094650,3094650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [12]:
studentsgrade9 = student_data.loc[student_data['grade'] =='9th',]
studentsgrade10 = student_data.loc[student_data['grade'] =='10th',]
studentsgrade11 = student_data.loc[student_data['grade'] =='11th',]
studentsgrade12 = student_data.loc[student_data['grade'] =='12th',]

countgrade9 = studentsgrade9.groupby('school_name')['grade'].count()
countgrade10 = studentsgrade10.groupby('school_name')['grade'].count()
countgrade11 = studentsgrade11.groupby('school_name')['grade'].count()
countgrade12 = studentsgrade12.groupby('school_name')['grade'].count()

schoolgrade9M = studentsgrade9.groupby('school_name')['math_score'].sum()/countgrade9
schoolgrade10M = studentsgrade10.groupby('school_name')['math_score'].sum()/countgrade10
schoolgrade11M = studentsgrade11.groupby('school_name')['math_score'].sum()/countgrade11
schoolgrade12M = studentsgrade12.groupby('school_name')['math_score'].sum()/countgrade12

scoresummary = pd.concat([schoolgrade9M,
                           schoolgrade10M,
                           schoolgrade11M,
                           schoolgrade12M], axis=1)

scoresummary = scoresummary.rename(columns={0:'9th grade', 1:'10th grade', 2:'11th grade', 3:'12th grade'})

# del scoresummary.index.name

scoresummary

                       9th grade  10th grade  11th grade  12th grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
schoolgrade9r = studentsgrade9.groupby('school_name')['reading_score'].sum()/countgrade9
schoolgrade10r = studentsgrade10.groupby('school_name')['reading_score'].sum()/countgrade10
schoolgrade11r = studentsgrade11.groupby('school_name')['reading_score'].sum()/countgrade11
schoolgrade12r = studentsgrade12.groupby('school_name')['reading_score'].sum()/countgrade12

scoresummary2 = pd.concat([schoolgrade9r,
                           schoolgrade10r,
                           schoolgrade11r,
                           schoolgrade12r], axis=1)

scoresummary2 = scoresummary2.rename(columns={0:'9th grade', 1:'10th grade', 2:'11th grade', 3:'12th grade'})
scoresummary2

                       9th grade  10th grade  11th grade  12th grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type